*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
/* body{
    font-family: sans-serif;

} */
/* navbar css starts */
nav{
    height: 80px;
    width: 100%;
    background: black;
    
}


label.name{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    padding-left: 40px;
    /* left:0; */
    line-height: 80px;
}
nav ul{
    float:right;
    margin-right:40px;

}
nav li{
    display: inline-block;
    margin:0 8px ;
    line-height: 80px;

}
nav a{
    color: white;
    font-size: 18px;
    
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;

}
a.active,a:hover{
    border:1px solid white;
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}


.logo {
    padding-right: 80px;
}

/* navbar css ends */



/* slider css starts  */


      * {box-sizing: border-box}
      /* body {font-family: Verdana, sans-serif; margin:0} */
      .mySlides {display: none}
      img {vertical-align: middle;
      max-width: 1350px;
      max-height: 800px;}
  
      
      /* Slideshow container */
      .slideshow-container {
        
        position: absolute;
        margin-left: -0.6px;
        margin-top: -0.6px;
       
       
      }
      
      
      /* Next & previous buttons */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }

      
     
      
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .prev, .next,.text {font-size: 11px}
      }
     
/* 
Slider css ends */



/* 
FOOTER CODE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    margin-top: 1000px;
    margin-bottom: 0px;
    width: 100%;
    padding: 10px 15%;
    background: #333;
    color: #efefef;
    display: flex;
}

.footer div{

    text-align: left;
}

.col-1{
    margin-right: 100px;
}
.col-2{
    flex-grow: 4;
}

.col-4{
    flex-grow: 7;
}


h3{
    color: #fff;
    font-size: 12px;
    margin-top: 3rem;
    display: inline-block;
    margin-bottom: 1rem;
}

.col-1 ul li a{

    display: block;

    color: #efefef;
    margin-bottom: 10px;
    font-size: 14px;
}

.col-2 ul li a{

    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
    font-size: 14px;
    list-style-type: none;
}

.col-3 ul li a{

    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
    font-size: 14px;
}

.col-4 ul li a{

    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
    font-size: 14px;
    list-style-type: none;
}

ul#remove{
    text-decoration: none;
}

h4{
    text-align: center;
    font-size: 12px;
    display:inline-block;
    margin-left: 350px;
    margin-top: 2.5rem;

}


hr{
width: 100%;
color: #efefef;


}

.footer-logo{
    border-radius: 100%;
    height: 60px;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.63);
    float: left;
    margin-left: 50px;
    margin-top: 1rem;
}


.fa-facebook{
    background-color: rgba(255, 255, 255, 0.637);
    margin-left: 1rem;
 
}

.fa-instagram{
    background-color: rgba(255, 255, 255, 0.623);
    
}

.fa-twitter{
    background-color: rgba(255, 255, 255, 0.596);
     

}

.fa-linkedin{
    background-color:rgba(255, 255, 255, 0.61);
     
}

.fa{

    padding: 20px;
    width: 20px;
    text-decoration: none;
    margin: 2px;
    margin-top: 1rem;
    margin-left: 5rem;
    text-align: center;
    position: relative;
    width: 20px;
    border-radius: 100%;

    
}
.bottom-last{

   background: #333;
    color: #efefef; 
    height: 100px; 
}

/* footer code ends */
